modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Mobile"

[[workflows.workflow]]
name = "Start Mobile"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "EXPO_NO_TELEMETRY=1 REACT_NATIVE_PACKAGER_HOSTNAME=8081-0db4-49e1-b484-71bf54c8fc1d-00-2tjxw0rya4kn7.janeway.replit.dev npx expo start --port 8081 --go"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "server.js"]

[userenv]

[userenv.shared]
EXPO_PUBLIC_SUPABASE_URL = "https://bliytowrufwppgxwcknb.supabase.co"
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_N-c39bLNoxE-RqysaM44Rg_hpLYcS0v"
EXPO_PUBLIC_SUPABASE_PROJECT_ID = "bliytowrufwppgxwcknb"
VITE_SUPABASE_URL = "https://bliytowrufwppgxwcknb.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_N-c39bLNoxE-RqysaM44Rg_hpLYcS0v"
VITE_SUPABASE_PROJECT_ID = "bliytowrufwppgxwcknb"
